# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3

# Scrapy stuff:
.scrapy

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Images folder
images/

# Ignore output files
*.json
*.csv
*.tsv

# System files
*.bak
*.tmp

#ollama
ollama/

# Git ignore file itself should not be ignored!
!.gitignore
